@charset "UTF-8";


/*Config Global*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'adumu';
    src: url(fonts/adumu/adumu.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'well';
    src: url(fonts/wellfleet/wellfleet-regular.ttf) format(truetype);
    font-weight: normal;
}


/*Celular*/


@media (max-width: 460px) {


    /*Área De navegação*/


    a {

        text-decoration: none;
    }

    .container-navbar {
        display: flex;
        width: 100%;
        height: auto;
        position: fixed;
        align-items: center;
        justify-content: space-between;
        border-bottom: solid 2px black;
        top: 0;
    }

    .navbar {
        display: flex;
    }

    .navbar-items {
        display: flex;
        padding-right: 70px;
    }

    .navbar-items ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        font-family: 'well';
        font-size: 30px;
        gap: 30px;
    }

    .logo-navbar {
        display: flex;
        margin-inline: 3%;
    }

    .logo {
        width: 75px;
        height: 75px;
    }

    .link-navbar {
        color: black;
    }

    #hat {
        display: inline-block;
        margin-top: 10%;
        margin-left: 5%;
        height: 25em;
        width: 25em;
    }

    #div-title {
        display: inline-block;
    }

    #title {
        display: flex;
        font-family: 'adumu';
        font-size: 40px;
    }

    #title2 {
        font-family: 'well';
        font-size: 40px;
        color: white;
        background-color: black;
        width: 131px;
    }

    #text {
        font-family: 'well';
        font-size: 20px
    }

}


/*Pc/Laptop*/


@media (min-width: 1000px) {


    /*Área De navegação*/


    a {

        text-decoration: none;
    }

    .container-navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: auto;
        position: fixed;
        border-bottom: solid 2px black;
        background-color: white;
        top: 0;
    }

    .navbar {
        display: flex;
    }

    .navbar-items {
        display: flex;
        padding-right: 70px;
    }

    .navbar-items ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        font-family: 'well';
        font-size: 25px;
        gap: 30px;
    }

    .logo-navbar {
        display: flex;
        margin-inline: 3%;
    }

    .logo {
        width: 75px;
        height: 75px;
    }

    .link-navbar {
        color: black;
    }

    #hat {
        display: inline-block;
        height: 10em;
        width: 10em;
        margin-top: 11%;
        margin-left: 5%;
        user-select: none;
    }

    #div-title {
        user-select: none;
        margin-top: -5%;
        margin-left: 10%;
    }

    #title {
        display: flex;
        font-family: 'adumu';
        font-size: 45px;
    }

    #title2 {
        font-family: 'well';
        font-size: 45px;
        color: white;
        background-color: black;
        width: 131px;
    }

    #text{
        font-family: 'well';
    }

    #cactus{
        margin-top: 2%;
        height: 15em;
        width: 15em;
    }
}


/*Tablet*/


@media (min-width: 461px) and (max-width: 999px) {


    /*Área de navegação*/


    a {
        text-decoration: none;
    }

    .container-navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: auto;
        position: fixed;
        border-bottom: solid 2px black;
        top: 0;
    }

    .navbar {
        display: flex;
    }

    .navbar-items {
        display: flex;
        padding-right: 70px;
    }

    .navbar-items ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        font-family: 'well';
        font-size: 30px;
        gap: 30px;
    }

    .logo-navbar {
        display: flex;
        margin-inline: 3%;
    }

    .logo {
        width: 75px;
        height: 75px;
    }

    .link-navbar {
        color: black;
    }

    #hat {
        display: inline-block;
        margin-top: 12em;
        margin-left: 2em;
        height: 10em;
        width: 10em;
    }

    #div-title {
        display: inline-block;
    }

    #title {
        font-family: 'adumu';
        font-size: 40px;
    }

    #title2 {
        font-family: 'well';
        font-size: 40px;
        color: white;
        background-color: black;
        width: 131px;
    }
}