@charset "UTF-8";


/*Config Global*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'adumu';
    src: url(fonts/adumu/adumu.ttf) format(truetype);
    font-weight: normal;
}

@font-face {
    font-family: 'well';
    src: url(fonts/wellfleet/wellfleet-regular.ttf) format(truetype);
    font-weight: normal;
}


/*Celular*/


@media (max-width: 460px) {


    /*Área De navegação*/


    a {

        text-decoration: none;
    }

    .container-navbar {
        display: flex;
        width: 100%;
        height: auto;
        position: fixed;
        align-items: center;
        justify-content: space-between;
        border-bottom: 3px black;
        background-color: blueviolet;
        top: 0;
    }

    .navbar {
        display: flex;
    }

    .navbar-items {
        display: flex;
        padding-right: 70px;
    }

    .navbar-items ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        font-family: 'well';
        font-size: 30px;
        gap: 30px;
    }

    .logo-navbar {
        display: flex;
        margin-inline: 3%;
    }

    .logo {
        width: 75px;
        height: 75px;
    }
}


/*Pc/Laptop*/


@media (min-width: 1000px) {


    /*Área De navegação*/


    a {

        text-decoration: none;
    }

    .container-navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: auto;
        position: fixed;
        background-color: blueviolet;
        top: 0;
    }

    .navbar {
        display: flex;
    }

    .navbar-items {
        display: flex;
        padding-right: 70px;
    }

    .navbar-items ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        font-family: 'well';
        font-size: 30px;
        gap: 30px;
    }

    .logo-navbar {
        display: flex;
        margin-inline: 3%;
    }

    .logo {
        width: 80px;
        height: 80px;
    }


}


/*Tablet*/


@media (min-width: 461px) and (max-width: 999px) {


    /*Área De navegação*/


    a {

        text-decoration: none;
    }

    .container-navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: auto;
        position: fixed;
        background-color: blueviolet;
        top: 0;
    }

    .navbar {
        display: flex;
    }

    .navbar-items {
        display: flex;
        padding-right: 70px;
    }

    .navbar-items ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        font-family: 'well';
        font-size: 30px;
        gap: 30px;
    }

    .logo-navbar {
        display: flex;
        margin-inline: 3%;
    }

    .logo {
        width: 75px;
        height: 75px;
    }
}